{% extends 'portfolio/base.html' %}
{% block content %}


<h1>Hello! This is my portfolio</h1>

{% load static %}
<a href="{% url 'blog:all_blogs' %}">All Blogs</a></br>
<a href=" {% static 'portfolio/resume.txt' %}">Resume</a>
<img src="{% static 'portfolio/download (4).jpg' %}">
{% for project in projects %}
<h1>{{ project.title }}</h1>
<h2>{{ project.description }}</h2>
<h2>{{ project.image }}</h2>
<image src="{{ project.image.url }}" width=200 height=250 /></br>

{% if project.url %}
<a href="{{ project.url }}">Link</a>
{% endif %} {% endfor %}
{% endblock %}
